.loaderContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.loader {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-top: 7px solid var(--white);
	animation: loading 1s linear infinite;
}

.bg {
	position: absolute;
	width: 56px;
	height: 56px;

	border-top: 28px solid var(--bg);
	border-radius: 50%;
	animation: loading-bg 1s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@keyframes loading-bg {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(630deg);
	}
}
