.loaderContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--good);
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.bg {
	position: absolute;
	width: 40px;
	height: 40px;

	border-top: 12px solid var(--bg);
	border-radius: 50%;
	animation: loading-bg 5s linear infinite;
}

@keyframes loading-bg {
	0% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(720deg);
	}
	100% {
		transform: rotate(2520deg);
	}
}
