.project {
	max-width: 1000px;
	margin-left: 10px;
}

.flexRowSpace {
	display: flex;
	justify-content: space-between;
}

.icon {
	width: 40px;
	height: 40px;
	padding: 5px;
	border-radius: 10px;
}

.icon:hover {
	background-color: var(--elementBg);
}

.name {
	font-weight: bold;
	font-size: 22px;
	padding: 5px;
	border-radius: 5px;
	margin: 0 0 5px 0;
}

.description {
	margin: 0 0 25px 0;
}

hr {
	margin: 0 0 15px 0;
}

.itemName {
	margin: 0 5px 5px 0;
	font-weight: bold;
	font-size: 17px;
	display: inline-block;
}

.itemValue {
	display: inline-block;
	background-color: var(--white);
	color: var(--blue);
	margin: 0 0 15px 0;
	border-radius: 5px;
	padding: 5px;
}

.button {
	margin: 10px calc(80%);
}

@media (width: 480px) {
	.project {
		margin: 0;
	}

	.button {
		margin: 10px calc(50%);
		transform: translate(-50%);
	}
}
