.projectForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.label {
	margin-bottom: 5px;
	display: block;
	color: var(--white);
}

select {
	height: 30px;
	min-width: 100px;
	width: 100%;
	background-color: var(--elementBg);
	border: 1px solid var(--blue);
	border-radius: 5px;
	color: var(--white);
	font-size: 16px;
	padding: 5px;
	margin-bottom: 20px;
}

select > option {
	color: var(--white);
	background: var(--blue);
}

.error {
	color: var(--error);
	font-weight: bold;
	margin: 0 auto;
}

.createBtn {
	margin: 20px auto 20px auto;
}
