.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 25;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
}

.box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 30;

	padding: 20px;
	width: 400px;
	align-items: center;
	background: var(--elementBg);
	border: solid 1px var(--white);
	border-radius: 5px;
}

.text {
	margin: 0 0 20px 0;
	display: flex;
	justify-content: center;
	color: var(--white);
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons button {
	margin: 0 5px;
}

@media (max-width: 720px) {
	.box {
		width: 300px;
	}
}
