.header {
	position: relative;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	margin: 0 0 20px 80px;
}

.logo {
	font-size: 20px;
	font-weight: bold;
	color: var(--good);
	padding: 15px;
	border-radius: 10px;
}
