.flexSpace {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 25px 0;
}

.pageTitle {
	margin: 0 0 5px 0;
	color: var(--white);
}

hr {
	width: 100%;
}
