.pageWithMenu {
	margin: 15px calc(7%) 10px calc(160px + 7%);
	position: relative;
	max-width: 1000px;
	min-height: 100%;
}

.pageWithoutMenu {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

@media (max-width: 720px) {
	.pageWithMenu,
	.pageWithoutMenu {
		margin: 0 auto;
	}
}
