.pageWithMenu {
	margin: 15px 0 10px 160px;
	position: relative;
	max-width: 1000px;
	min-height: 100%;
}

.pageWithoutMenu {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

@media (max-width: 720px) {
	.pageWithMenu,
	.pageWithoutMenu {
		margin: 0 auto;
		min-height: 100%;
	}
}
