.pageWithMenu,
.pageWithoutMenu {
	position: relative;
	height: 100%;
}

.pageWithMenu {
	margin: 0 0 0 200px;
}

.pageWithoutMenu {
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.pageWithMenu,
	.pageWithoutMenu {
		margin: 0 0 0 200px;
		height: 100%;
	}
}

@media (max-width: 720px) {
	.pageWithMenu,
	.pageWithoutMenu {
		margin: 0 auto;
		height: 100%;
	}
}
