.hint {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid var(--white);
	border-radius: 10px;
	background-color: var(--blue);
	padding: 10px 15px;
	z-index: 10;
}
