* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--bg: #0f111a;
	--elementBg: rgba(20, 26, 40, 0.6);
	--white: #d4d8e2;
	--blue: #2a3150;
	--good: #fff;
	--error: #f94d4d;

	--lowPriority: #203d20;
	--mediumPriority: #5e5e09;
	--highPriority: #4f1414;
}

:root,
:root > div {
	height: 100%;
}

body {
	margin: 0;
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	height: 100%;
	background:
		radial-gradient(circle at 0% 0%, rgba(108, 158, 255, 0.1), transparent 50%),
		var(--bg);
	color: var(--white);
}

body > div {
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
