.main {
	max-width: 1000px;
	position: relative;
	min-height: calc(100% - 90px);
	margin: 0 auto;
}

@media (max-width: 1300px) {
	.main {
		margin: 0 calc(7%) 0 calc(7%);
		min-height: 100%;
	}
}

@media (max-width: 720px) {
	.main {
		margin: 0 calc(5%) 0 calc(5%);
		min-height: 100%;
	}
}
